<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Frame-Options" />
        <remove name="Content-Security-Policy" />
        <add name="Content-Security-Policy" value="frame-ancestors 'self' https://*.sharepoint.com" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
